.container {
  overflow: auto;

  .questionContent {
    display: flex;
    justify-content: space-between;

    span {
      * {
        margin-right: 2rem;
        cursor: pointer;
      }
    }

  }

  .singlequestion {
    padding: 1rem;
    margin: 1rem;
    border: black solid 1px;


  }

}