@import "../../Variable/Variable";

.message {
  left: 0;
  right: 0;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 50%;
  outline: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  background-color: $blueDark;
  color: white;
}