.categoryImg {
  max-height: 100px;
  width: auto;
}

.singleCat {
  text-align: center;
  font-size: 2px !important;

  @media only screen and (max-width: 900px) {
    * {
      font-size: 1rem;
    }
  }

}


.cardStyle {
  width: 100%;
}

